 <h3>Test for which you're preparing:</h3><%= @training.test.name  %>
  <%= f.text_field :test_id, @training.tests.name %>

<%= form_for @training do |f| %>

  <%= f.label :date, "Date of Training" %>
  <%= f.date_field :date %>
  <br></br>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
<br></br>

  <%= f.submit%>

<% end %>