<h1>All Test Training Sessions</h1>

<br></br>

<table>
    <thead>
        <tr>
        <th>Date</th>
        <th>Notes</th>
        <th>Prep Activity</th>
        <th>Test</th>
        <th colspan="3"></th>
        </tr>
    </thead>

    <% @trainings.each do |training| %>

    <tr>
    <td><%= training.date.strftime("%b %e, %Y")  %></td>
    <td><%= training.notes  %></td>
    <td><%= training.activity.name  %></td>
    <td><%= training.test.name  %></td>
    <td><%= link_to 'Show', training_path(training) %></td>
    <td><%= link_to 'Edit', edit_training_path(training) %></td>
    <td><%= link_to 'Delete', training_path(training), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
    <% end %>
</tbody>
</table>

<br></br>

<%= link_to 'Add a New Training Session', new_training_path %>