<h1><%= current_user.username %>'s Training Log</h1>

<br></br>
<ul>
<% @trainings.each do |t| %>
  <li>
    <%= current_user.username %> completed a  
    <%= link_to t.activity.name, activity_path(t.activity)%> session in preparation for the <%= link_to t.test.name, test_path(t.test)%> on 
    <%= t.date.strftime("%b %e, %Y") %>. 
    <strong>Personal Notes: </strong><%= t.notes %>
<% end %>
</ul>
<br></br>

<%= link_to 'Add a New Training Session', new_training_path %>