<h1>All Test Training Sessions</h1>

<br></br>
<div class="col-md-3">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Date</th>
            <th scope="col">Rating (1=poor, 5=great)</th>
            <th scope="col">Notes</th>
            <th scope="col">Prep Activity</th>
            <th scope="col">Test</th>
            </tr>
        </thead>

        <% @trainings.each do |training| %>
        <tbody>
            <tr>
            <td><%= training.date.strftime("%b %e, %Y")  %></td>
            <td><%= training.rating  %></td>
            <td><%= training.notes  %></td>
            <td><%= training.activity.name  %></td>
            <td><%= training.test.name  %></td>
            <td><%= link_to 'Show', training_path(training) %></td>
            <td><%= link_to 'Edit', edit_training_path(training) %></td>
            <td><%= link_to 'Delete', training_path(training), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
    
        <% end %>
        </tbody>
    </table>
</div>

<br></br>

<%= link_to 'Add a New Training Session', new_training_path %>