<h2><%= current_user.username%>'s Study Sessions Log</h2>

<ul>
<% current_user.study_sessions.each do |s| %>
<li><%= s.date %>
<%= s.rating %> (1=poor, 5=great)
<%= s.comments %>
<%= s.activity.name %>
</li>
<% end %>
</ul>

<%= link_to 'Record a Study Session', new_user_study_session_path(current_user) %>