<h1>All Test Prep Activities</h1>

<br></br>

<div class="col-md-3">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Time Required</th>
            <th scope="col">Use Frequency</th>
            </tr>
        </thead>

    <% @activities.each do |activity| %>

    <tr>
    <td><%= activity.name  %></td>
    <td><%= activity.time_required %> hours</td>
    <td><%= activity.trainings.count %></td>
    <td><%= link_to 'Show', activity_path(activity) %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
    <% end %>
</tbody>
</table>

<br></br>

<%= link_to 'Add a New Test Prep Activity', new_activity_path %>