<h1>All Tests</h1>

<br></br>
<div class="col-md-3">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Date of Test</th>
            </tr>
        </thead>

        <% @tests.each do |test| %>
        <tbody>
            <tr>
            <td><%= test.name  %></td>
            <td><%= test.date_of_test  %></td>
            <td><%= link_to 'Edit', edit_test_path(test) %></td>
            <td><%= link_to 'Delete', test_path(test), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        
        <% end %>
        </tbody>
    </table>
</div>

<br></br>

<%= link_to 'Add a New Test', new_test_path %>