<!DOCTYPE html>
<html>
  <head>
    <title>TestPrep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if logged_in? %>
    <nav class='navbar'>
      <%= link_to "Home", root_path %>
      <%= link_to "Tests", tests_path %>
      <%= link_to "Add a Test", new_test_path %>
      <%= link_to "Prep Activities", activities_path %>
      <%= link_to "Add an Activity", new_activity_path %> 
      <%= link_to "Training Log", trainings_path %>
      <%= link_to "Record a Training", new_training_path %>
      <%= link_to 'Logout', '/logout', method: :delete %>
    </nav>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>
<div class='container'>
    <%= yield %>
  </body>
</html>
