<!DOCTYPE html>
<html>
  <head>
    <title>TestPrep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% if logged_in? %>
    <nav class='navbar'>
      <%= link_to "Home", root_path, class:'button' %>
      <%= link_to "Tests", tests_path, class:'button' %>
      <%= link_to "Prep Activities", activities_path, class:'button' %> 
      <%= link_to "Training Log", trainings_path, class:'button' %>
      <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
    </nav>
    <% else %>
      <%= link_to 'Log In', login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
